<tr>
  <td><%= index_of_book(book_counter, params[:page], Settings.paginations.per_page ) %></td>
  <td><%= link_to book.name,book %></td>
  <td><%= book.author_name %></td>
  <td><%= book.category_name %></td>
  <td><%= book.publisher_name %></td>
  <td><%= book.created_at.strftime("%Y-%m-%d")%></td>

  <td>
    <div class="btn-group btn-group-sm">
      <%= link_to "#", class: "btn btn-sm btn-warning", title: t(".edit") do %>
        <i class="fas fa-pencil-alt"></i>
      <% end %>
      <%= link_to "#", class: "btn btn-sm btn-danger", title: t(".delete") do %>
        <i class="fas fa-trash"></i>
      <% end %>
    </div>
  </td>
</tr>
