<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label><%= t ".name" %></label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group col-md-3">
      <label><%= t ".category" %></label>
      <select class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-3">
      <div id="choose-author">
        <label>
          <%= t ".author" %>
          <a href="javascript:;" class="ml-2 new-author" title="new author"><i class="fas fa-plus"></i></a>
        </label>
        <select class="form-control">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div id="new-author" class="d-none">
        <label>
          <%= t ".author" %>
          <a href="javascript:;" class="ml-2 choose-author" title="choose author"><i class="fas fa-times"></i></a>
        </label>
        <input type="text" class="form-control" disabled>
      </div>

    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label><%= t ".num_of_page" %></label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group col-md-4">
      <label><%= t ".quantity" %></label>
      <input type="text" class="form-control">
    </div>
    <div class="col-md-4 mb-3">
      <label><%= t ".price" %></label>
      <div class="input-group">
        <input type="text" class="form-control">
        <div class="input-group-prepend">
          <span class="input-group-text"><%= t ".unit" %></span>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label><%= t ".description" %></label>
    <textarea class="form-control" rows="8"></textarea>
  </div>
  <button type="submit" class="btn btn-primary"><%= t ".create" %></button>
</form>
