<%= form_for @book do |f| %>
  <div class="form-row">
    <div class="form-group col-md-3">
      <label><%= t ".name" %></label>
      <%= f.text_field :name, class: "form-control"  %>
    </div>
    <div class="form-group col-md-3">
      <label><%= t ".publisher" %></label>
      <%= f.collection_select :publisher_id, @publishers, :id, :name, {include_blank: t(".select_publisher")}, {class: "form-control"} %>
    </div>
    <div class="form-group col-md-3">
      <label><%= t ".category" %></label>
      <%= f.collection_select :category_id, @categories, :id, :name, {include_blank: t(".select_category")}, {class: "form-control"} %>
    </div>
    <div class="form-group col-md-3">
      <div id="choose-author">
        <label>
          <%= t ".author" %>
          <a href="javascript:;" class="ml-2 new-author" title="new author"><i class="fas fa-plus"></i></a>
        </label>

        <%= f.collection_select :author_id, @authors, :id, :name, {prompt: t(".select_author")}, {class: "form-control"} %>
      </div>
      <div id="new-author" class="d-none">
        <label>
          <%= t ".author" %>
          <a href="javascript:;" class="ml-2 choose-author" title="choose author"><i class="fas fa-times"></i></a>
        </label>
        <%=f.fields_for :author_attributes do |ff|  %>
          <%= ff.text_field :name, class: "form-control" %>
        <% end %>
      </div>

    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label><%= t ".number_of_page" %></label>
      <%= f.text_field :number_of_pages, class: "form-control" %>
    </div>
    <div class="form-group col-md-4">
      <label><%= t ".quantity" %></label>
      <%= f.text_field :quantity, class: "form-control" %>
    </div>
    <div class="col-md-4 mb-3">
      <label><%= t ".price" %></label>
      <%= f.text_field :price, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <label><%= t ".description" %></label>
    <%= f.text_area :description, rows: 8, class: "form-control" %>
  </div>
  <%= button_tag type: "submit", class: "btn btn-primary" do %>
    <%= content_tag(:span, yield(:button_text)) %>
  <% end %>
<% end %>
