<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-book"></i>
    <%= t ".manage_books" %>
    <%= link_to new_book_path, class: "nav-link float-right" do %>
      <i class="fas fa-plus-circle"></i>
      <%= t ".add_book" %>
    <% end %>
  </div>
  <div class="card-body">
    <%= render "search_books" %>
    <div class="table-responsive">
      <table class="table table-bordered table-striped" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th class="w-5"><%= t ".index" %></th>
            <th><%= t ".book_name" %></th>
            <th><%= t ".author" %></th>
            <th><%= t ".category" %></th>
            <th><%= t ".publisher" %></th>
            <th><%= t ".publish_at" %></th>
            <th class="w-5"><%= t ".action" %></th>
          </tr>
        </thead>
        <tbody>
          <%= render @books %>
        </tbody>
      </table>
      <!-- <div class = "ps-pagination"> -->
        <%#= paginate @books, theme: 'twitter-bootstrap-3' %>
      <!-- </div> -->
    </div>
    <%= raw pagy_nav_bootstrap(@pagy) %>
  </div>
</div>
